### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
#Calculate number of schools in the disrict 
school_data_complete["school_name"].nunique()
total_schools = school_data_complete["school_name"].nunique()

#Calculate number of students in the district
total_students = len(school_data_complete["student_name"])

#Calculate total district's budget
school_data_complete["budget"].sum()
total_budget = school_data_complete["budget"].sum()

#Calculate average math score
school_data_complete["math_score"].mean()
average_math_score = school_data_complete["math_score"].mean()

#Calculate average reading score
school_data_complete["reading_score"].mean()
average_reading_score = school_data_complete["reading_score"].mean()

#Create a table w/number of students with passing math scores
#pass_math_score = school_data_complete.loc[school_data_complete['math_score'] >= 70]
#pass_math_score

#Calculate number of students with passing math scores using loc function
pass_math_score = school_data_complete.loc[school_data_complete['math_score'] >= 70]

#Calculate the percentage of students who passed math
percent_math = len(pass_math_score)/total_students*100

#Create a table w/number of students who passed reading
#pass_reading_score = school_data_complete.loc[school_data_complete['reading_score'] >= 70]
#pass_reading_score

#Calculate the percentage of students with a passing reading score (70 or greater)
pass_reading_score = school_data_complete.loc[school_data_complete['reading_score'] >= 70]

#Calculate the percentage of students who passed reading
percent_reading = len(pass_reading_score)/total_students*100

#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_rate = (percent_math + percent_reading)/2

In [6]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [7]:
#Create a dataframe to hold the above results
school_data_summary = pd.DataFrame({"Total Schools": total_schools,
                                "Total Students": total_students,
                                "Total Budget": total_budget,
                                "Average Math Score": average_math_score,
                                "Average Reading Score": average_reading_score,
                                "% Passing Math": percent_math,
                                "% Passing Reading": percent_reading,
                                "% Overall Passing Rate": [overall_rate]})
school_data_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,80.393158

In [8]:
#School Summary

    #Create an overview table that summarizes key metrics about each school, including:
        #School Name
        #School Type
        #Total Students
        #Total School Budget
        #Per Student Budget
        #Average Math Score
        #Average Reading Score
        #% Passing Math
        #% Passing Reading
        #% Overall Passing (The percentage of students that passed math and reading.)

    #Create a dataframe to hold the above results

In [9]:
#Create an overview table that summarizes key metrics about each school, calculated in part 1

In [10]:
school_summary = school_data_complete.set_index("school_name")
school_summary.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635

In [11]:
#Create a dataframe to hold the above results
school_summary_df = pd.DataFrame({"Total Schools": total_schools,
                                "Total Students": total_students,
                                "Total Budget": total_budget,
                                "Average Math Score": average_math_score,
                                "Average Reading Score": average_reading_score,
                                "% Passing Math": percent_math,
                                "% Passing Reading": percent_reading,
                                "% Overall Passing Rate": [overall_rate]})
school_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,80.393158

In [12]:
school_data_summary = school_data_complete.drop(['School ID', 'Student ID', 'gender'], axis=1)
school_data_summary.head()

,student_name,grade,school_name,reading_score,math_score,type,size,budget
0,Paul Bradley,9th,Huang High School,66,79,District,2917,1910635
1,Victor Smith,12th,Huang High School,94,61,District,2917,1910635
2,Kevin Rodriguez,12th,Huang High School,90,60,District,2917,1910635
3,Dr. Richard Scott,12th,Huang High School,67,58,District,2917,1910635
4,Bonnie Ray,9th,Huang High School,97,84,District,2917,1910635

In [13]:
school_table=school_data_summary.set_index('school_name').groupby(["school_name"])
school_table_df = pd.DataFrame(school_table)

In [14]:
school_type = pd.DataFrame(school_data.set_index('school_name')["type"])
school_type

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [15]:
students_per_school = school_table["student_name"].count()
students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [16]:
budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [17]:
per_student_budget = budget/students_per_school
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [18]:
average_math_score = school_table["math_score"].mean()
average_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [19]:
average_reading_score = school_table["reading_score"].mean()
average_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [20]:
pass_math_score = school_data_complete.loc[school_data_complete['math_score'] >= 70]
pass_math_score.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [21]:
pass_reading_score = school_data_complete.loc[school_data_complete['reading_score'] >= 70]
pass_reading_score.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [22]:
school_index = school_data_complete.set_index('school_name') 
index = school_data_complete.set_index('school_name')

In [23]:
grouped_math = pass_math_score.groupby('school_name')
school_pass_math = grouped_math['student_name'].count()/students_per_school*100
school_pass_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: student_name, dtype: float64

In [24]:
grouped_reading = pass_reading_score.groupby('school_name')
school_pass_reading = grouped_reading['student_name'].count()/students_per_school*100
school_pass_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: student_name, dtype: float64

In [25]:
overall_passing = ((grouped_math['student_name'].count()/students_per_school*100) + (grouped_reading['student_name'].count()/students_per_school*100))/2
overall_passing

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
Name: student_name, dtype: float64

In [26]:
#Create a dataframe to hold the above results
district_summary = pd.DataFrame({"Total Students": students_per_school,
                                "Total Budget": budget,
                                "Per Student Budget": per_student_budget,
                                "Average Math Score": average_math_score,
                                "Average Reading Score": average_reading_score,
                                "% Passing Math": school_pass_math,
                                "% Passing Reading": school_pass_reading,
                                "% Overall Passing Rate": overall_passing})

district_summary

,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,
Bailey High School,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [27]:
school_list = school_data["school_name"].values.tolist()
print(school_list)

#list_schools = district_summary["school_name"].tolist()
  
#list_schools

['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']

In [28]:
# adding the list to the dataframe as column
#district_summary['School Name'] = school_list
#district_summary

In [29]:
district_summary["School Type"] = school_type
district_summary

,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,School Type
school_name,,,,,,,,,
Bailey High School,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,District
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,Charter
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,District
Ford High School,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,District
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,Charter
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,District
Holden High School,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,Charter
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,District
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,District
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,Charter
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,District
Shelton High School,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,Charter
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,Charter
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,Charter
Wright High School,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,Charter

In [30]:
district_summary = district_summary[["School Type", "Total Students", "Total Budget", "Per Student Budget",
                                     "Average Math Score", "Average Reading Score","% Passing Math",
                                     "% Passing Reading", "% Overall Passing Rate"]]
district_summary

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [31]:
#Sort and display the top five performing schools by % overall passing.
top_summary = district_summary.loc[district_summary['% Overall Passing Rate'] > 90]
top_summary.sort_values(['% Overall Passing Rate'], ascending=False).head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [32]:
#Sort and display the five worst-performing schools by % overall passing.
bottom_summary = district_summary.loc[district_summary['% Overall Passing Rate'] < 75]
bottom_summary.sort_values(['% Overall Passing Rate'],ascending=False).tail()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323

In [33]:
# Math scores by grade
ninth = school_data_complete.loc[school_data_complete['grade']=='9th'].groupby("school_name")
ninth_math = ninth['math_score'].mean()
tenth = school_data_complete.loc[school_data_complete['grade']=='10th'].groupby("school_name")
tenth_math = tenth['math_score'].mean()
eleventh = school_data_complete.loc[school_data_complete['grade']=='11th'].groupby("school_name")
eleventh_math = eleventh['math_score'].mean()
twelfth = school_data_complete.loc[school_data_complete['grade']=='12th'].groupby("school_name")
twelfth_math = twelfth['math_score'].mean()

# Create dataframe for math scores summary
Math_scores_by_grade = pd.DataFrame({"9th": ninth_math,
                            "10th": tenth_math,
                            "11th": eleventh_math,
                            "12th": twelfth_math})
Math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [34]:
# Reading scores by grade
ninth = school_data_complete.loc[school_data_complete['grade']=='9th'].groupby("school_name")
ninth_reading = ninth['reading_score'].mean()
tenth = school_data_complete.loc[school_data_complete['grade']=='10th'].groupby("school_name")
tenth_reading = tenth['reading_score'].mean()
eleventh = school_data_complete.loc[school_data_complete['grade']=='11th'].groupby("school_name")
eleventh_reading = eleventh['reading_score'].mean()
twelfth = school_data_complete.loc[school_data_complete['grade']=='12th'].groupby("school_name")
twelfth_reading = twelfth['reading_score'].mean()

# Create dataframe for math scores summary
Reading_scores_by_grade = pd.DataFrame({"9th": ninth_reading,
                            "10th": tenth_reading,
                            "11th": eleventh_reading,
                            "12th": twelfth_reading})
Reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [35]:
district_summary.drop(['School Type'], axis=1)
district_summary

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [36]:
print(district_summary["Per Student Budget"].max())
print(district_summary["Per Student Budget"].min())

655.0
578.0

In [37]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 580, 605, 630, 660]
group_labels = ["<580", "580-600" "600-620", "620-660"]
group_labels
   
district_summary['Per Student Budget'] = district_summary['Per Student Budget'].astype(str).str.replace(',', '').astype(float)

district_summary.apply(pd.to_numeric)



district_summary["Spending Range"] = pd.cut(district_summary["Per Student Budget"], spending_bins, labels=group_labels).head()
district_summary

ValueError: Unable to parse string "District" at position 0

In [38]:
district_summary["School Type"] = school_type
district_summary.rename(columns={"Total Students": "School Size"})
district_summary

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [39]:
math = district_summary.groupby(["School Size"]).mean()["Average Math Score"] 
reading = district_summary.groupby(["School Size"]).mean()["Average Reading Score"] 
percent_math = district_summary.groupby(["School Size"]).mean()["% Passing Math"] 
percent_reading = district_summary.groupby(["School Size"]).mean()["% Passing Reading"] 
percent_overall = (percent_math + percent_reading)/2

size_summary = pd.DataFrame({"Average Math Score": math, 
                             "Average Reading Score": reading, 
                             "% Passing Math": percent_math, 
                             "% Passing Reading": percent_reading, 
                             "Percent Overall": percent_overall}) 
size_summary

KeyError: 'School Size'

In [ ]:
math = district_summary.groupby(["School Type"]).mean()["Average Math Score"] 
reading = district_summary.groupby(["School Type"]).mean()["Average Reading Score"] 
percent_math = district_summary.groupby(["School Type"]).mean()["% Passing Math"] 
percent_reading = district_summary.groupby(["School Type"]).mean()["% Passing Reading"] 
percent_overall = (percent_math + percent_reading)/2

type_summary = pd.DataFrame({"Average Math Score": math, 
                             "Average Reading Score": reading, 
                             "% Passing Math": percent_math, 
                             "% Passing Reading": percent_reading, 
                             "Percent Overall": percent_overall}) 
type_summary